.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1170px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 78px 80px 0;
}

.u-section-1 .u-list-1 {
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 912px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-size: cover;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-1 .u-list-item-2 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 27px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-1 .u-list-item-3 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 27px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-1 .u-list-item-4 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  margin: 27px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-1 .u-list-item-5 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-16 {
  margin: 27px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-1 .u-list-item-6 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-19 {
  margin: 27px 0 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 752px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1296px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-3 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-4 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-5 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-6 {
    padding: 9px 41px 11px 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-17 {
    font-size: 3rem;
  }
}